<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
      <section name="SftpServer" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>

  <appSettings>

    <add key="FTPSaveFile" value="D:\MyWork\IR[568]借趣花优化\Document\"/>
    <add key="FTPExcelTemple" value="D:\Demo2016\Console\Console\Tempter\OverDueStaticTemplate.xlsx"/>

    <!--第三方标准python包路径-->
    <add key="PythonPackage" value="C:\Program Files (x86)\IronPython 2.7\Lib" />
    <!--算法文件路径-->
    <add key="AlgorithmPath" value="D:\Python\" />
  </appSettings>

    <SftpServer>


      <!--<add key="HostName" value="10.138.60.77" />
      <add key="UserName" value="weixin" />
      <add key="Password" value="weixin" />-->

      <!--<add key="HostName" value="172.16.30.30" />
      <add key="UserName" value="weixin" />
      <add key="Password" value="weixin" />-->

      <add key="HostName" value="10.138.60.42"/>
      <add key="UserName" value="jcptftp"/>
      <add key="Password" value="jcptftp"/>
      
      <!--主机名或IP-->
      <!--<add key="HostName" value="10.1.12.68" />-->
      <!--用户名-->
      <!--<add key="UserName" value="jcptftp" />-->
      <!--密码-->
      <!--<add key="Password" value="jcptftp" />-->
      <!--端口号(默认端口为22)-->
      <add key="Port" value="22"/>
      <!--根目录（默认为根目录"/"-->
      <add key="DefaultfRemotePath" value="/"/>
      <!--私钥文件存放路径-->
      <add key="PrivateKeyFile" value="D:/SFTP/KEY/sa.ppk"/>
      <!--私钥密码-->
      <add key="Passphrase" value="123"/>
      <!--连接方式-->
      <!--密码连接：Password 密钥连接：PrivateKey 先密钥后密码：FirstPrivateKeyThenPassword 先密码后密钥：FirstPasswordThenPrivateKey-->
      <add key="ConnectWay" value="Password"/>
    </SftpServer>

    <connectionStrings>
      <add connectionString="Data Source=10.138.60.75;Initial Catalog=Loan;User ID=;Password=;pooling=false;" name="LoanDB" providerName="System.Data.SqlClient"/>
      <add connectionString="Data Source=10.138.60.75;Initial Catalog=PostLoan;User ID=;Password=;" name="PostLoanDB" providerName="System.Data.SqlClient"/>
      <add connectionString="Data Source=10.138.60.75;Initial Catalog=Sys;User ID=;Password=;pooling=false;" name="SysDB" providerName="System.Data.SqlClient"/>
      <add connectionString="Data Source=10.1.12.153;Initial Catalog=VcreditDW;Persist Security Info=True;User ID=;Password=;" name="VcreditDW" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.web>
      <httpRuntime maxRequestLength="2097151" executionTimeout="720000"/>
    </system.web>
</configuration>
