<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Home/Index">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bootstrap Css</a>
                <ul class="dropdown-menu">
                    <li><a href="/BootstrapCss/Font">Font</a></li>
                    <li><a href="/BootstrapCss/List">List</a></li>
                    <li><a href="/BootstrapCss/Code">Code</a></li>
                    <li><a href="/BootstrapCss/Table">Table</a></li>
                    <li><a href="/BootstrapCss/Form">Form</a></li>
                    <li><a href="/BootstrapCss/FormHorizontal">FormHorizontal</a></li>
                    <li><a href="/BootstrapCss/Buttun">Buttun</a></li>
                    <li><a href="/BootstrapCss/Img">Img</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bootstrap Component</a>
                <ul class="dropdown-menu">
                    <li><a href="/BootstrapComponent/Glyphicons">Glyphicons</a></li>
                    <li><a href="/BootstrapComponent/Dropdowns">Dropdowns</a></li>
                    <li><a href="/BootstrapComponent/ButtunGroup">ButtunGroup</a></li>
                    <li><a href="/BootstrapComponent/ButtunDropdownMenu">ButtunDropdownMenu</a></li>
                    <li><a href="/BootstrapComponent/InputGroup">InputGroup</a></li>
                    <li><a href="/BootstrapComponent/Nav">Nav</a></li>
                    <li><a href="/BootstrapComponent/Navbar">Navbar</a></li>
                    <li><a href="/BootstrapComponent/Breadcrumbs">Breadcrumbs</a></li>
                    <li><a href="/BootstrapComponent/Pagination">Pagination</a></li>
                    <li><a href="/BootstrapComponent/Label">Label</a></li>
                    <li><a href="/BootstrapComponent/Badges">Badges</a></li>
                    <li><a href="/BootstrapComponent/Jumbotron">Jumbotron</a></li>
                    <li><a href="/BootstrapComponent/Thumbnail">Thumbnail</a></li>
                    <li><a href="/BootstrapComponent/Alerts">Alerts</a></li>
                    <li><a href="/BootstrapComponent/Progress">Progress</a></li>
                    <li><a href="/BootstrapComponent/MediaObject">MediaObject</a></li>
                    <li><a href="/BootstrapComponent/ListGroup">ListGroup</a></li>
                    <li><a href="/BootstrapComponent/Panels">Panels</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bootstrap Pluggable</a>
                <ul class="dropdown-menu">
                    <li><a href="/BootstrapPluggable/Modal">Modal</a></li>
                    <li><a href="/BootstrapPluggable/Dropdown">Dropdown</a></li>
                    <li><a href="/BootstrapPluggable/Scrollspy">Scrollspy</a></li>
                    <li><a href="/BootstrapPluggable/Tab">Tab</a></li>
                    <li><a href="/BootstrapPluggable/Tooltip">Tooltip</a></li>
                    <li><a href="/BootstrapPluggable/Popover">Popover</a></li>
                    <li><a href="/BootstrapPluggable/Alert">Alert</a></li>
                    <li><a href="/BootstrapPluggable/Button">Button</a></li>
                    <li><a href="/BootstrapPluggable/Collapse">Collapse</a></li>
                    <li><a href="/BootstrapPluggable/Carousel">Carousel</a></li>
                    <li><a href="/BootstrapPluggable/Affix">Affix</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Component</a>
                <ul class="dropdown-menu">
                    <li><a href="/Component/Index">Test</a></li>
                    <li class="divider"></li>
                    <li><a href="/Component/MenuNavbar">Menu Navigation Bar</a></li>
                    <li><a href="/Component/TopDownButton">Top Down Button</a></li>
                    <li><a href="/Component/ArticleTop">Article Top</a></li>
                    <li><a href="/Component/ArticleAffix">Article Affix</a></li>
                    <li><a href="/Component/JSON">JSON</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Article</a>
                <ul class="dropdown-menu">
                    <li><a href="/Article/Index">Test</a></li>
                    <li class="divider"></li>
                    <li><a href="/Article/VMwareNet">VMware Net</a></li>
                    <li><a href="/Article/InterfaceDoc">Interface Doc</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
