@{
    ViewBag.Title = "Img";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Img</h2>
    </div>
    <div class="row">
        <img src="~/image/001.jpg" class="img-rounded" title="img-rounded" />
        <img src="~/image/002.jpg" class="img-circle" title="img-circle" />
        <img src="~/image/003.jpg" class="img-thumbnail" title="img-thumbnail" />
        <img src="~/image/005.jpg" class="img-responsive" title="img-responsive"> 
    </div>
</div>

