@{
    ViewBag.Title = "Label";
    Layout = "~/Views/Shared/Page/_Page.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Label</h2>
    </div>
    <div class="row">
        <h1>Example Heading <span class="label label-default">Label</span></h1>
        <h2>Example Heading <span class="label label-default">Label</span></h2>
        <h3>Example Heading <span class="label label-default">Label</span></h3>
        <h4>Example Heading <span class="label label-default">Label</span></h4>
        <p>
            <span class="label label-default">默认标签</span>
            <span class="label label-primary">主要标签</span>
            <span class="label label-success">成功标签</span>
            <span class="label label-info">信息标签</span>
            <span class="label label-warning">警告标签</span>
            <span class="label label-danger">危险标签</span>
        </p>
    </div>
</div>
