<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.spring.boot.mybatis.plus.xml.mulidatasource.mapper.mssql.UserMapper" >

    <resultMap id="BaseResultMap" type="example.spring.boot.mybatis.plus.xml.mulidatasource.po.mssql.UserPO" >
        <result column="ID" property="id" jdbcType="INTEGER" />
        <result column="CardNo" property="cardNo" jdbcType="BIGINT" />
        <result column="Name" property="name" jdbcType="NVARCHAR" />
        <result column="Sex" property="sex" javaType="example.spring.boot.mybatis.plus.xml.mulidatasource.enums.UserSexEnum" />
        <result column="Age" property="age" jdbcType="SMALLINT" />
        <result column="CheapRate" property="cheapRate" jdbcType="DOUBLE" />
        <result column="Balance" property="balance" jdbcType="DECIMAL" />
        <result column="Birthday" property="birthday" jdbcType="DATE" />
        <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="IsVaild" property="vaild" jdbcType="BIT" />
    </resultMap>

    <select id="crateTable">

IF OBJECT_ID(N'Demo.dbo.UserInfo',N'U') IS NOT NULL
	DROP TABLE dbo.UserInfo

CREATE TABLE [dbo].[UserInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CardNo] [bigint] NULL,
	[Name] [nvarchar](10) NULL,
	[Sex] [varchar](10) NULL,
	[Age] [smallint] NULL,
	[CheapRate] [float] NULL,
	[Balance] [decimal](10, 2) NULL,
	[Birthday] [date] NULL,
	[CreateTime] [datetime] NULL,
	[IsVaild] [bit] NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM dbo.UserInfo WHERE IsVaild=1
    </select>

    <insert id="insert" parameterType="example.spring.boot.mybatis.plus.xml.mulidatasource.po.mssql.UserPO" useGeneratedKeys="true" keyProperty="id" >
        INSERT dbo.UserInfo ( CardNo, Name, Sex, Age, CheapRate, Balance,
                            Birthday, CreateTime, IsVaild )
        VALUES  ( #{cardNo}, -- CardNo - bigint
          #{name}, -- Name - nvarchar(10)
          #{sex}, -- Sex - varchar(10)
          #{age}, -- Age - smallint
          #{cheapRate}, -- CheapRate - float
          #{balance}, -- Balance - decimal
          #{birthday}, -- Birthday - date
          GETDATE(), -- CreateTime - datetime
          #{vaild}  -- IsVaild - bit
          )
    </insert>

    <insert id="batchInsert">
        INSERT dbo.UserInfo ( CardNo, Name, Sex, Age, CheapRate, Balance,
                            Birthday, CreateTime, IsVaild )
        VALUES
        <foreach collection="list" item="user" separator=",">
         ( #{user.cardNo}, -- CardNo - bigint
          #{user.name}, -- Name - nvarchar(10)
          #{user.sex}, -- Sex - varchar(10)
          #{user.age}, -- Age - smallint
          #{user.cheapRate}, -- CheapRate - float
          #{user.balance}, -- Balance - decimal
          #{user.birthday}, -- Birthday - date
          GETDATE(), -- CreateTime - datetime
          #{user.vaild}  -- IsVaild - bit
          )
        </foreach>
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer" >
       DELETE FROM dbo.UserInfo WHERE id =#{id}
    </delete>

    <update id="updateById"  >
        UPDATE
        dbo.UserInfo
        SET CheapRate = #{et.cheapRate}
        WHERE id = #{et.id}
    </update>

    <update id="batchUpdate">
        UPDATE
        dbo.UserInfo
        SET Balance =
        <foreach collection="list" item="user" separator=" " open="case id" close="end ,">
            when #{user.id} then #{user.balance}
        </foreach>
        CheapRate =
        <foreach collection="list" item="user" separator=" " open="case id" close="end">
            when #{user.id} then #{user.cheapRate}
        </foreach>
        WHERE ID in
        <foreach collection="list" item="user" separator="," open="(" close=")">
            #{user.id}
        </foreach>
    </update>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
         SELECT * FROM dbo.UserInfo WHERE id =#{id}
    </select>

</mapper>