@{
    ViewBag.Title = "Dropdowns";
    Layout = "~/Views/Shared/Page/_Page.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Dropdowns</h2>
    </div>
    <div class="row">
        <p>Bootstrap 实例 - 下拉菜单（Dropdowns）</p>
        <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                    data-toggle="dropdown">
                主题
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">Java</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">数据挖掘</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">
                        数据通信/网络
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
                </li>
            </ul>
        </div>

        <p>通过向 .dropdown-menu 添加 class .pull-right 来向右对齐下拉菜单。</p>
        <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                    data-toggle="dropdown">
                主题
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">Java</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">数据挖掘</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">
                        数据通信/网络
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
                </li>
            </ul>
        </div>

        <p>您可以使用 class dropdown-header 向下拉菜单的标签区域添加标题。</p>
        <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                    data-toggle="dropdown">
                主题
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" class="dropdown-header">下拉菜单标题</li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">Java</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">数据挖掘</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">
                        数据通信/网络
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">下拉菜单标题</li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
                </li>
            </ul>
        </div>
    </div>
</div>
