@{
    ViewBag.Title = "ListGroup";
    Layout = "~/Views/Shared/Page/_Page.cshtml";
}

<div class="container">
    <div class="row">
        <h2>ListGroup</h2>
    </div>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">基本的列表组</li>
            <li class="list-group-item">向列表组添加徽章<span class="badge">徽章</span></li>
        </ul>

        <a href="#" class="list-group-item active">
            向列表组添加链接
        </a>
        <a href="#" class="list-group-item">24*7 支持</a>
        <a href="#" class="list-group-item">免费 Window 空间托管</a>
        <a href="#" class="list-group-item">图像的数量</a>
        <a href="#" class="list-group-item">每年更新成本</a>
        <br />

        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">
                    向列表组添加自定义内容
                </h4>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">
                    免费域名注册
                </h4>
                <p class="list-group-item-text">
                    您将通过网页进行免费域名注册。
                </p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">
                    24*7 支持
                </h4>
                <p class="list-group-item-text">
                    我们提供 24*7 支持。
                </p>
            </a>
        </div>
    </div>
</div>
