@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/Page/_Page.cshtml";
}

@section Header{
    <link href="~/assets/plugins/metronic/plugins.css" rel="stylesheet" />
    <link href="~/assets/plugins/select2-stable-3.5/select2.css" rel="stylesheet" />
    <script src="~/assets/plugins/metronic/metronic.js"></script>
    <script src="~/assets/plugins/select2-stable-3.5/select2.js"></script>

    <script type="text/javascript" >

        $(function () {
            Metronic.init();
        });
 
    </script>
}


<div class="container" >
    <div class="row" >
        <div class="col-md-3 ">
            <select id="market" name="market" class="select2me form-control">
                <option value="1">master</option>
                <option value="2">Saber</option>
                <option value="3">Archer</option>
                <option value="4">Lancer</option>
                <option value="5">Rider</option>
                <option value="6">Caster</option>
                <option value="7">Assassion</option>
                <option value="8">Berserker</option>
            </select>
        </div>
    </div>
</div>