@{
    ViewBag.Title = "DocumentInterfaceItemManage";
    Layout = "~/Views/Shared/Page/_PageTop.cshtml";
}

@section Header{

    <style type="text/css">
        select {
            width: 100px;
        }
    </style>

    <script type="text/javascript">
        var programID = @ViewBag.ProgramID;

        $(function () {
            Metronic.init();
            initGrid();
            reloadPanelAddInfo();
        });

        function initGrid() {
            $("#jqGrid").jqGrid({
                url: '/DocumentInterface/QueryDocumentInterfaceItemList',
                datatype: "json",
                styleUI: 'Bootstrap',
                postData: { 'programID': programID },
                mtype: 'POST',
                colModel: [
                     { name: 'InterfaceID', label: "ID", key: true, hidden: true },
                     { name: 'Title', label: "接口名称", editable: true },
                     { name: 'Method', label: "请求方式", editable: true },
                     { name: 'Path', label: "请求路径", editable: true, width: 400 },
                     { name: 'OrderIndex', label: "排序" },
                     {
                         name: 'EditOption', label: "操作", formatter: function (cellvalue, options, rowObject) {
                             var infoRows = "<a href='/DocumentInterface/DocumentInterfaceParamterManage/" + options.rowId + "'  >详情</a>&nbsp;&nbsp;";
                             var deleteRows = "<a href='javascript:void(0)' onclick='deleteDate(" + options.rowId + ")' >删除</a>";
                             return infoRows + deleteRows;
                         }
                     }
                ],
                rowNum: 10,
                rowList: [10, 15, 20, 30],
                pager: '#jqGridPager',
                sortname: 'OrderIndex',
                viewrecords: true,
                sortorder: "asc",
                height: '100%',
                width: '100%',
                autowidth: true
            });
        }

        function reloadGrid() {
            $("#jqGrid").jqGrid('setGridParam', {
                datatype: 'json',
                postData: {}, //发送数据
                page: 1
            }).trigger("reloadGrid"); //重新载入
        }

        function reloadPanelAddInfo() {
            var panel = $("#FormAddInfo");
            var txtProgramID = panel.find("input[name='ProgramID']")[0];
            var txtTitle = panel.find("input[name='Title']")[0];
            var txtOrderIndex = panel.find("input[name='OrderIndex']")[0];
            var txtMethod = panel.find("input[name='Method']")[0];
            var txtPath = panel.find("input[name='Path']")[0];

            txtProgramID.value = programID;
            txtTitle.value = "";
            txtOrderIndex = "";
            $(txtMethod).val("POST").trigger("change");
            txtPath = "";
        }

        function insertData() {
            $.ajax({
                type: "post",
                url: "/DocumentInterface/InsertDocumentInterfaceItem",
                data: $("#FormAddInfo").serialize(),
                success: function (data) {
                    if (data == 'True') {
                        $('#PanelAddInfo').modal('hide');
                        reloadGrid();
                        reloadPanelAddInfo();
                    } else {
                        alert("error!");
                    }
                }
            });
        }

        function deleteDate(rowId) {
            bootbox.confirm("是否删除", function (result) {
                if (result) {
                    $.ajax({
                        type: "post",
                        url: "/DocumentInterface/DeleteDocumentInterfaceItem",
                        data: { interfaceID: rowId },
                        success: function (data) {
                            if (data == 'True') {
                                reloadGrid();
                            } else {
                                alert("error!");
                            }
                        }
                    });
                } else {
                    return;
                }
            });
        }

    </script>
}

<h2>DocumentInterfaceItemManage</h2>

<div class="row">
    <!-- 按钮触发模态框 -->
    <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#PanelAddInfo">添加</button>
</div>

<div class="row">
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="PanelAddInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    <label for="name">请录入新接口信息</label>
                </h4>
            </div>
            <!-- /.modal-header -->
            <div class="modal-body">
                <form id="FormAddInfo" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">接口名称</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="Title" type="text">
                            <input type="hidden" value="0" name="ProgramID" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">排序</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="OrderIndex" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">请求方式</label>
                        <div class="col-sm-9">
                            <select name="Method" class="select2me form-control">
                                <option value="POST">POST</option>
                                <option value="GET">GET</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">请求路径</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="Path" type="text">
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-default" onclick="insertData()">提交修改</button>
            </div>
            <!-- /.modal-footer -->
        </div>
        <!-- /.modal-content -->
    </div>
</div>


